-#  This file is app/views/movies/index.html.haml
%h1 All Movies

= form_tag movies_path, :method => :get, id: "ratings_form" do
  Include:
  - @rating_selected.keys.each do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]", 1, @rating_selected[rating]
  = submit_tag 'Refresh', id:"ratings_submit"

= render 'list', :movies => @movies

= link_to 'Add new movie', new_movie_path

%h2 HW4 Zone
%h3 Main Features
%ul
  %li Make "director" RESTful
  %li Make all columns sortable
  %li Director's page has a "back to movie" link