- if @director.nil?
  - if @from_movie.nil?
    %p Please enter a valid director.
  - else
    %p= "'#{@from_movie.title}' has no director info."
- else
  %h1 #{@director}'s all movies

  - if @movies.nil? || @movies.length == 0
    %p= "\"#{@director}\" has no movies at Rotten Potatoes yet"
  - else
    %table#movies
      %thead
        %tr
          %th{class: ('hilite' if session[:sort_by] == 'title'), id: 'title_header'}= link_to('Movie Title', director_all_movies_path(sort_by: 'title'))
          %th{class: ('hilite' if session[:sort_by] == 'director'), id: 'director_header'}= link_to('Director', director_all_movies_path(sort_by: 'director'))
          %th{class: ('hilite' if session[:sort_by] == 'rating'), id: 'rating_header'}= link_to('Rating', director_all_movies_path(sort_by: 'rating'))
          %th{class: ('hilite' if session[:sort_by] == 'release_date'), id: 'release_date_header'}= link_to('Release Date', director_all_movies_path(sort_by: 'release_date'))
          %th More Info
      %tbody
        - @movies.each do |movie|
          %tr
            %td= movie.title
            %td= movie.director
            %td= movie.rating
            %td= movie.release_date
            %td= link_to "More about #{movie.title}", movie_path(movie)

- unless @from_movie_id.nil?
  = link_to "Back to #{@from_movie.title} page<br />".html_safe, movie_path(@from_movie_id)

= link_to 'Back to movie list<br />'.html_safe, movies_path